fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.48
psycopg2-binary==2.9.11
python-dotenv==1.2.2
pydantic==2.12.5
pydantic-settings==2.2.1
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
pillow==12.1.1
agora-token-builder==1.0.0
websockets==15.0.1
alembic==1.13.1
httpx==0.28.1
email-validator==2.1.0
cloudinary
cloudinary
firebase-admin==7.3.0
easyocr
